# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/
ENV/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.so

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
